/* CARD FRONT */
.directions {
  margin-top: 15px;
  /* margin:10px; */
  font-size: 20px;
  color: #797979;
}
/* FOR THE BUTTONS */
.correct {
  background-color: #BBF1C4;
  color: #00530B;
}

.incorrect {
  background-color: #F38D8D;
  color: #922A2A;
}

.button {
  margin: 10px;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

/* IDK */
* {
  /* box-sizing: border-box; */
  font-family:'Roboto', sans-serif;
}
html, body { height: 100%; }

/* FOR INDEX CARDS LOOKING CUTE */
.card {
  margin: 10px;
  box-shadow: 2px 2px 6px rgba(0,0,0,.25);
  /* height: 14rem;
  width: 400px; */
  /* margin: auto; */
  position: relative;
  /* top: 50%; */
  transform: translateY(-50%);
  height: 150px;
  width: 254px;
}
.card_front {
  font-size: 64px;
  background-image:
    linear-gradient(180deg, white 3rem, #F0A4A4 calc(3rem), #F0A4A4 calc(3rem + 2px), transparent 1px),
    repeating-linear-gradient(0deg, transparent, transparent 1.5rem, #DDD 1px, #DDD calc(1.5rem + 1px));
}

.card_back {
  font-size: 36px;
}

/* FROM TUTORIAL */
/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 320px;
	height: 480px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}
