.box{
    background-color: #F1F3F4;
    height: 42px;
    width: 100%;
    margin: 0 0 40px 0;
    display: table;
  }
  
  .box .box-txt{
    display: table-cell;
    vertical-align: middle;
  }
  
  input.line{
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
    width: 100%;
    display: inline;
  }

  #edit-lists-div{
    display: inline;
    
    
  }
  
  input.line::placeholder{
    color: #797979;
    opacity: 1;
  }
  
  input.line:focus{
    border-bottom: 1px solid #BBF1C4;
  }
  

#new-list-box{
  background-color: #BBF1C4;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, .25);
}

#new-list-input-box{
  background-color: white;
  border: 1px solid #BE0026;
}

.name-input-box{
  margin-left: 3px;
  display: inline;
}

#new-list-input-row{
  display: none;
}

#new-list-button-row{
  display: none;
}

#edit-button{
  background-color: white;
  color: #00530B;
  border: none;
}

#edit-button:hover{
  background-color: black;
}