/* STUFF FROM LUKE */
.box {
  background-color: #F1F3F4;
  height: 42px;
  width: 85%;
  margin: 0 0 40px 0;
  display: table;
}

.box .box-txt {
  display: table-cell;
  vertical-align: middle;
}

#edit-lists-div {
  display: inline;
}

#new-list-box {
  background-color: #BBF1C4;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, .25);
}

#new-list-input-box {
  background-color: white;
  border: 1px solid #BE0026;
}

.name-input-box {
  margin-left: 3px;
  display: inline;
}

#new-list-input-row {
  display: none;
}

#new-list-button-row {
  display: none;
}

.delete-button {
  background-color: #BE0026;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: .7em;
  cursor: pointer;
  border: 2px solid white;
  height: 42px;
  /*visibility: hidden;*/
}

.delete-button:hover {
  background-color: black;
}

.third-child {
  display: none;
}

/* NEW ONES */
/* for querying/filtering the lists */
input.line {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  outline: none;
  /* width: 100%; */
  display: inline;
}

input.line::placeholder {
  color: #797979;
  opacity: 1;
}

input.line:focus {
  border-bottom: 1px solid #BBF1C4;
}

/* for the edit button */
#edit-button {
  background-color: white;
  color: #00530B;
  border: none;
  float: right;
}

#edit-button:hover {
  background-color: black;
  color: #FFFFFF;
}

.one_list {
  background-color: #F1F3F4;
  height: 42px;
  width: 100%;
  margin: 0 0 40px 0;
  display: table;
  display: table-cell;
  vertical-align: middle;
}

.list_name {
  vertical-align: middle;
  display: table-cell;
  color: black;
}
