@import url("font-awesome.min.css");

* {
  font-family:'Roboto', sans-serif;
}

html, body { height: 100%; }

/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: #BE0026;
  padding: 10px 10px;
  margin-bottom: 20px;
}

.search_or_history {
  padding: 10px 10px;
}

#search_box {
  width: 400px;
}

.plus_sign {
  float: right;
  padding-right: 10px;
}

div#results {
    border-bottom: 3px solid #be0026;
    margin-bottom: 7px;
    padding: 15px;
}

.one_word {
  background-color: #CCCCCC;
}

/* Style the header links */
.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  text-decoration: underline;
  /* note the underline goes on the icon too */
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: black;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
}
